* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.checkbox {
  vertical-align: text-bottom;
}

h1 {
  margin: 32px 0;
  font-size: 24px;
  padding-top: 7%;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin: auto;
  flex-direction: row;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  outline: none;
  width: 320px;
  background: transparent;
}

.todo-btn {
  padding: 1px 20px;
  margin-top:-200px;
  margin-left: 80%;
  cursor: pointer;
  outline: none;
  background-color: #7adfb5;
  color: white;
  text-transform: capitalize;
  border:#7adfb5 2px solid;
}

.todo-btn:hover {
  color: white;
  background-color: #8ce7c1;
}

.logout-btn {
  padding: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
  margin-left: 50%;
}

.todo-container {
  display: flex;
  flex-direction: row;
}

.todo-row {
  top: -150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px auto;
  background: white;
  padding: 16px;
  border-radius: 5px;
  width: 45%;
  border: 2px solid rgb(176, 173, 173);
  border-top: none;
  border-left: none;
  border-right: none;
  
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.add-task-btn1 {
  padding-top: 10px;
  padding-right: 20%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: black;
  text-transform: capitalize;
}
.todo-form{
  width: 45%;
  height: 70%;

  border-style: solid;
  border-radius: 10px;
}
.subject-form{
  font-weight: bold;
}
.Description-form{
  font-weight: bold;
  width: auto;
  height: 100px;
  border: black solid 1px;
  border-right: none;
  border-left: none;
}

