.userInfo {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.userPhoto {
  width: 50px;
  height: 50px;
}

.userImage {
  margin: auto;
  width: 10%;
}

.userNameAndEmail {
  width: 60%;
  padding-left: 30px;
  margin: auto;
}

.user-name {
  padding: none;
}
.userName {
  font-weight: bold;
  padding: none;
  margin-bottom: 0;
}

.user-email {
  padding: none;
}
.userEmail {
  color: grey;
}

.typeOfAccess {
  margin: auto;
  width: 30%;
}

.accessDropDown {
  border: 1px solid transparent;
  color: rgb(179, 179, 179);
}
