.addicon {
  height: 50px;
  padding-top: 14px;
  padding-right: 40px;
  cursor: pointer;
}

button.collab {
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: 50px;
}

.done {
  position: absolute;
  right: 50px;
}
3